.wrapper {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.signup-btn {
    margin-top: 10px;
    border: 2px solid #F8A000;
    color: #F8A000;
    padding: 2px 8px;
    border-radius: 5px;
    margin: 0px 10px;
}

.form-txt {
    font-size: 25px;
    font-weight: 800;
    color: #F8A000;
}

ion-list {
    width: 340px;
}


ion-item {
    margin-top: 10px;
}

span {
    color: red;
    padding: 0px;
    padding-left: 18px;
    padding-top: -18px;
}