<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h2 class="ion-text-center">Login Form</h2>
    <ion-list>
      <form [formGroup]="LoginForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item fill="outline">
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" placeholder="email@domain.com" required></ion-input>
        </ion-item>
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email'].errors?.['required']">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email'].errors?.['pattern']">
          Please provide valid email id.
        </span> -->
        <ion-item fill="outline">
          <ion-label position="stacked">Password</ion-label>
          <ion-input maxlength="10" formControlName="password" type="password" value="password" required></ion-input>
        </ion-item>
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl['password'].errors?.['required']">
          Password is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['password'].errors?.['pattern']">
          Eight numerical values allowed.
        </span> -->
        <a class=" ion-margin-vertical forget-btn">Forget Password?</a>

        <ion-buttons class="form-btn">
          <ion-button type="submit" fill="clear" class="Login-btn">Login</ion-button>
          <ion-button type="button" fill="clear" class="signup-btn">SignUp</ion-button>
        </ion-buttons>

      </form>
    </ion-list>
  </div>
</ion-content>